.player {
  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 12vh;
  margin: 0px 10px 0px 10px;

  &__profile {
    height: 4vh;
    color: var(--text);
    font-size: 1.5rem;
  }

  &__nickname {
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      color: var(--green-addon);
    }
  }

  &__name-form {
    display: flex;
    flex-direction: row;
    border: 2px solid var(--text);
    border-radius: 3rem;
  }

  &__name-input {
    width: 150px;
    color: var(--text);
    font-size: 1.5rem;
    background-color: transparent;
    text-align: center;

    border: none;
    outline: none;
    &:active {
      border: none;
      outline: none;
    }
  }

  &__input-submit {
    @include button;
    padding: 2px 5px 2px 5px;
    text-transform: uppercase;
  }
}
