@import url("https://fonts.cdnfonts.com/css/curse-casual");

html * {
  font-family: "Curse Casual", sans-serif;
}

.app {
  position: relative;
  height: 100vh;
  height: --webkit-fill-available;
  background-image: url(../../assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

html {
  height: --webkit-fill-available;
}
