@import url("http://fonts.cdnfonts.com/css/curse-casual");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

:root {
  --green-addon: #008c47;
  --red-addon: #e92125;
}

html * {
  font-family: 'Curse Casual', sans-serif;
}

.app {
  position: relative;
  height: 100vh;
  height: --webkit-fill-available;
}

.app__bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  height: --webkit-fill-available;
  background-image: url("https://i.pinimg.com/564x/cc/19/6c/cc196c12fe225ff45a1850f413676545.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

html {
  height: --webkit-fill-available;
}

.splash-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.splash-screen__title {
  position: absolute;
  padding: 30px;
  font-size: 4rem;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.splash-screen__handle-game {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash-screen__join-game {
  color: white;
}

.splash-screen__join-title {
  text-align: center;
  font-size: 2.5rem;
  padding: 10px;
}

.splash-screen__join-box {
  border: 2px solid white;
  border-radius: 3rem;
}

.splash-screen__join-input {
  height: 4rem;
  font-size: 1.5rem;
  width: 7rem;
  background: transparent;
  border: none;
  padding-left: 10px;
  color: white;
}

.splash-screen__join-input::-webkit-input-placeholder {
  color: #e6e6e6;
}

.splash-screen__join-input:-ms-input-placeholder {
  color: #e6e6e6;
}

.splash-screen__join-input::-ms-input-placeholder {
  color: #e6e6e6;
}

.splash-screen__join-input::placeholder {
  color: #e6e6e6;
}

.splash-screen__join-button {
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 10px 15px 10px 15px;
  height: 4rem;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.splash-screen__or {
  padding: 20px;
  font-size: 2rem;
  color: white;
  text-align: center;
  overflow: hidden;
  width: 100%;
}

.splash-screen__or:before, .splash-screen__or:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.splash-screen__or:before {
  right: 0.5em;
  margin-left: -50%;
}

.splash-screen__or:after {
  left: 0.5em;
  margin-right: -50%;
}

.splash-screen__create-button {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 20px 30px 20px 30px;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.game {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.game__code {
  justify-self: flex-start;
  margin-top: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  width: 60vw;
  max-width: 200px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  border-radius: 3rem;
}

.game__code-copy-link {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 20px 30px 20px 30px;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.game__board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 40vh;
}

.game__dice {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__herd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__herd-title {
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

.game__players {
  margin-bottom: 20px;
}

.game__start {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.game__start-game-btn {
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 20px 30px 20px 30px;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.game__exchange {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.game__button {
  margin: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 20px 30px 20px 30px;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.dice {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.dice span {
  position: absolute;
  display: block;
  font-size: 2.5em;
}

.dice .side {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: transparent url(https://syki.pl/wp-content/uploads/2022/03/dice8.png) 0 0 no-repeat;
}

.dice .number .animal-img {
  max-height: 50px;
  max-width: 50px;
}

.dice .number.center {
  margin-top: 20px;
  text-align: center;
}

#d12 {
  width: 100px;
  height: 96px;
}

#d12 .side {
  position: absolute;
  width: 100px;
  height: 96px;
  background-position: 0 -479px;
}

#d12 .cap-top {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

#d12 .cap-bottom {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

#d12 .one {
  -webkit-transform: rotateX(-90deg) rotateZ(36deg) translateZ(75.5px) translateY(-6px);
          transform: rotateX(-90deg) rotateZ(36deg) translateZ(75.5px) translateY(-6px);
}

#d12 .two {
  -webkit-transform: rotateY(0deg) rotateX(-27deg) translateZ(72.5px);
          transform: rotateY(0deg) rotateX(-27deg) translateZ(72.5px);
}

#d12 .three {
  -webkit-transform: rotateY(72deg) rotateX(-27deg) translateZ(72.5px);
          transform: rotateY(72deg) rotateX(-27deg) translateZ(72.5px);
}

#d12 .four {
  -webkit-transform: rotateY(144deg) rotateX(-27deg) translateZ(72.5px);
          transform: rotateY(144deg) rotateX(-27deg) translateZ(72.5px);
}

#d12 .five {
  -webkit-transform: rotateY(216deg) rotateX(-27deg) translateZ(72.5px);
          transform: rotateY(216deg) rotateX(-27deg) translateZ(72.5px);
}

#d12 .six {
  -webkit-transform: rotateY(288deg) rotateX(-27deg) translateZ(72.5px);
          transform: rotateY(288deg) rotateX(-27deg) translateZ(72.5px);
}

#d12 .seven {
  -webkit-transform: rotateY(0deg) rotateX(-207deg) translateZ(72.5px);
          transform: rotateY(0deg) rotateX(-207deg) translateZ(72.5px);
}

#d12 .eight {
  -webkit-transform: rotateY(72deg) rotateX(-207deg) translateZ(72.5px);
          transform: rotateY(72deg) rotateX(-207deg) translateZ(72.5px);
}

#d12 .nine {
  -webkit-transform: rotateY(144deg) rotateX(-207deg) translateZ(72.5px);
          transform: rotateY(144deg) rotateX(-207deg) translateZ(72.5px);
}

#d12 .ten {
  -webkit-transform: rotateY(216deg) rotateX(-207deg) translateZ(72.5px);
          transform: rotateY(216deg) rotateX(-207deg) translateZ(72.5px);
}

#d12 .eleven {
  -webkit-transform: rotateY(288deg) rotateX(-207deg) translateZ(72.5px);
          transform: rotateY(288deg) rotateX(-207deg) translateZ(72.5px);
}

#d12 .twelve {
  -webkit-transform: rotateX(90deg) rotateZ(36deg) translateZ(75.5px) translateY(-6px);
          transform: rotateX(90deg) rotateZ(36deg) translateZ(75.5px) translateY(-6px);
}

#d12 .number {
  font-size: 4em;
  letter-spacing: -4px;
}

#d12 .number.center {
  margin-top: 26px;
  margin-left: -6px;
  text-align: center;
}

#wrapper {
  /* green marble */
  /* pink marble */
  /* leather */
  /* water */
  /* blue circles */
  /* golden */
}

#wrapper.side-one #d12 {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

#wrapper.side-one #d12 .side {
  background-position: -140px -479px;
}

#wrapper.side-two #d12 {
  color: #000;
  text-shadow: -2px 2px 2px #fff;
}

#wrapper.side-two #d4 .side {
  background-position: -280px 0;
}

#wrapper.side-two #d6 .side {
  background-position: -280px -132px;
}

#wrapper.side-two #d8 .side {
  background-position: -280px -243px;
}

#wrapper.side-two #d10 .side {
  background-position: -280px -356px;
}

#wrapper.side-two #d12 .side {
  background-position: -280px -479px;
}

#wrapper.side-two #d20 .side {
  background-position: -280px -585px;
}

#wrapper.leather #d12 {
  color: #41281d;
  text-shadow: 0 0 6px #ec9a6e;
}

#wrapper.leather #d12 .side {
  background-position: -420px -479px;
}

#wrapper.water #d12 {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

#wrapper.water #d12 .side {
  /* sides get jittery when backface is visible */
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  opacity: .8;
}

#wrapper.water #d12 .side {
  background-position: -560px -479px;
}

#wrapper.blue-circles #d12 {
  color: #c4e7ff;
  text-shadow: 0 0 8px #000;
}

#wrapper.blue-circles #d12 .side {
  background-position: -700px -479px;
}

#wrapper.golden #d12 {
  color: #5e3c00;
  text-shadow: 2px 2px 8px #fff;
}

#wrapper.golden #d12 .side {
  background-position: -840px -479px;
}

.dice__show-1 {
  -webkit-transform: translateZ(-100px) rotateX(450deg) rotateY(-35deg) rotateZ(0deg);
          transform: translateZ(-100px) rotateX(450deg) rotateY(-35deg) rotateZ(0deg);
}

.dice__show-1-1 {
  -webkit-transform: translateZ(-100px) rotateX(90deg) rotateY(-35deg) rotateZ(360deg);
          transform: translateZ(-100px) rotateX(90deg) rotateY(-35deg) rotateZ(360deg);
}

.dice__show-2 {
  -webkit-transform: translateZ(-100px) rotateX(35deg) rotateY(-5deg) rotateZ(0deg);
          transform: translateZ(-100px) rotateX(35deg) rotateY(-5deg) rotateZ(0deg);
}

.dice__show-2-2 {
  -webkit-transform: translateZ(-100px) rotateX(35deg) rotateY(-5deg) rotateZ(-360deg);
          transform: translateZ(-100px) rotateX(35deg) rotateY(-5deg) rotateZ(-360deg);
}

.dice__show-3 {
  -webkit-transform: translateZ(0px) rotateX(30deg) rotateY(-430deg) rotateZ(0deg);
          transform: translateZ(0px) rotateX(30deg) rotateY(-430deg) rotateZ(0deg);
}

.dice__show-3-3 {
  -webkit-transform: translateZ(0px) rotateX(30deg) rotateY(-70deg) rotateZ(360deg);
          transform: translateZ(0px) rotateX(30deg) rotateY(-70deg) rotateZ(360deg);
}

.dice__show-4 {
  -webkit-transform: translateZ(-100px) rotateX(20deg) rotateY(220deg) rotateZ(0deg);
          transform: translateZ(-100px) rotateX(20deg) rotateY(220deg) rotateZ(0deg);
}

.dice__show-4-4 {
  -webkit-transform: translateZ(-100px) rotateX(20deg) rotateY(-140deg) rotateZ(-360deg);
          transform: translateZ(-100px) rotateX(20deg) rotateY(-140deg) rotateZ(-360deg);
}

.dice__show-5 {
  -webkit-transform: translateZ(-100px) rotateX(20deg) rotateY(-210deg) rotateZ(7deg);
          transform: translateZ(-100px) rotateX(20deg) rotateY(-210deg) rotateZ(7deg);
}

.dice__show-5-5 {
  -webkit-transform: translateZ(-100px) rotateX(20deg) rotateY(-210deg) rotateZ(367deg);
          transform: translateZ(-100px) rotateX(20deg) rotateY(-210deg) rotateZ(367deg);
}

.dice__show-6 {
  -webkit-transform: translateZ(-100px) rotateX(-340deg) rotateY(70deg) rotateZ(0deg);
          transform: translateZ(-100px) rotateX(-340deg) rotateY(70deg) rotateZ(0deg);
}

.dice__show-6-6 {
  -webkit-transform: translateZ(-100px) rotateX(20deg) rotateY(70deg) rotateZ(-360deg);
          transform: translateZ(-100px) rotateX(20deg) rotateY(70deg) rotateZ(-360deg);
}

.dice__show-7 {
  -webkit-transform: translateZ(-100px) rotateX(-150deg) rotateY(360deg) rotateZ(0deg);
          transform: translateZ(-100px) rotateX(-150deg) rotateY(360deg) rotateZ(0deg);
}

.dice__show-7-7 {
  -webkit-transform: translateZ(-100px) rotateX(-150deg) rotateY(0deg) rotateZ(360deg);
          transform: translateZ(-100px) rotateX(-150deg) rotateY(0deg) rotateZ(360deg);
}

.dice__show-8 {
  -webkit-transform: translateZ(-100px) rotateX(25deg) rotateY(255deg) rotateZ(180deg);
          transform: translateZ(-100px) rotateX(25deg) rotateY(255deg) rotateZ(180deg);
}

.dice__show-8-8 {
  -webkit-transform: translateZ(-100px) rotateX(25deg) rotateY(255deg) rotateZ(-180deg);
          transform: translateZ(-100px) rotateX(25deg) rotateY(255deg) rotateZ(-180deg);
}

.dice__show-9 {
  -webkit-transform: translateZ(-100px) rotateX(25deg) rotateY(-45deg) rotateZ(180deg);
          transform: translateZ(-100px) rotateX(25deg) rotateY(-45deg) rotateZ(180deg);
}

.dice__show-9-9 {
  -webkit-transform: translateZ(-100px) rotateX(25deg) rotateY(325deg) rotateZ(-180deg);
          transform: translateZ(-100px) rotateX(25deg) rotateY(325deg) rotateZ(-180deg);
}

.dice__show-10 {
  -webkit-transform: translateZ(-100px) rotateX(25deg) rotateY(400deg) rotateZ(180deg);
          transform: translateZ(-100px) rotateX(25deg) rotateY(400deg) rotateZ(180deg);
}

.dice__show-10-10 {
  -webkit-transform: translateZ(-100px) rotateX(25deg) rotateY(40deg) rotateZ(180deg);
          transform: translateZ(-100px) rotateX(25deg) rotateY(40deg) rotateZ(180deg);
}

.dice__show-11 {
  -webkit-transform: translateZ(-100px) rotateX(25deg) rotateY(110deg) rotateZ(180deg);
          transform: translateZ(-100px) rotateX(25deg) rotateY(110deg) rotateZ(180deg);
}

.dice__show-11-11 {
  -webkit-transform: translateZ(-100px) rotateX(25deg) rotateY(470deg) rotateZ(-180deg);
          transform: translateZ(-100px) rotateX(25deg) rotateY(470deg) rotateZ(-180deg);
}

.dice__show-12 {
  -webkit-transform: translateZ(-100px) rotateX(277deg) rotateY(35deg) rotateZ(0deg);
          transform: translateZ(-100px) rotateX(277deg) rotateY(35deg) rotateZ(0deg);
}

.dice__show-12-12 {
  -webkit-transform: translateZ(-100px) rotateX(277deg) rotateY(35deg) rotateZ(360deg);
          transform: translateZ(-100px) rotateX(277deg) rotateY(35deg) rotateZ(360deg);
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12vh;
}

.player__profile {
  margin-top: 10px;
  height: 5vh;
  color: white;
  font-size: 1.5rem;
}

.player__nickname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.player__nickname.active {
  color: var(--green-addon);
}

.player__name-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid white;
  border-radius: 3rem;
}

.player__name-input {
  width: 150px;
  color: white;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  text-align: center;
}

.player__input-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.animals {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 7vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent url(https://syki.pl/wp-content/uploads/2022/03/single-board.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 600px;
}

.animal {
  width: calc(100%/9);
  margin-top: 5px;
  margin-bottom: 5px;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
}

.animal__photo {
  margin-top: 10px;
  max-height: 60%;
  max-width: 100%;
}

.animal__name {
  margin-bottom: 7px;
}

.exchange {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
}

.exchange__offers {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exchange__offer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 10px;
  height: 7vh;
  justify-content: center;
  align-items: center;
  background: transparent url(https://syki.pl/wp-content/uploads/2022/03/single-board.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 600px;
}

.exchange__offer-what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: white;
}

.exchange__arrow {
  margin: 0px 5px 0px 5px;
  font-size: 3rem;
  color: white;
}

.exchange__offer-for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  color: white;
}

.exchange__offer-img {
  max-height: 50px;
  max-width: 50px;
}

.exchange__submit-btn {
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 5px 10px 5px 10px;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.exchange__end-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-self: flex-end;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 20px 30px 20px 30px;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.end-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 400px;
  height: 70vh;
  max-height: 400px;
  background: transparent url(https://syki.pl/wp-content/uploads/2022/03/boards-1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.end-screen__winner-name {
  font-weight: bold;
  font-size: 3rem;
}

.end-screen__create-game-btn {
  margin: auto;
  margin-top: 20px;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 20px 30px 20px 30px;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.end-screen__join-game-btn {
  margin: auto;
  margin-top: 20px;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a827), to(#f48c24));
  background: linear-gradient(to bottom, #e6a827, #f48c24);
  padding: 20px 30px 20px 30px;
  border-radius: 3rem;
  font-size: 1.5rem;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
          box-shadow: -1px 1px 0 #b2d4ec, -1px 1px 0 #b2d4ec inset, 0 3px 2px rgba(0, 0, 0, 0.2), 0 3px 4px rgba(0, 0, 0, 0.2) inset, 0 6px 6px rgba(0, 0, 0, 0.3);
}

.end-screen__bg {
  position: absolute;
  height: 100vh;
  height: --webkit-fill-available;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */