.offer-received {
    height: 100%;
    width: 100%;
    min-width: 450px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    color: var(--text);
    font-size: 2rem;
    gap: 20px;

    background: transparent url(../../assets/images/boards/board-16-9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &__players {
        display: flex;
        flex-direction: row;
    }

    &__arrow {
        margin-left: 10px;
        margin-right: 10px;
    }

    &__offer {
        display: flex;
        flex-direction: row;
    }

    &__what {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: var(--text);
    }

    &__img {
        max-height: 50px;
        max-width: 50px;
    }

    &__for {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        color: var(--text);
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 50px;
    }

    &__deny-btn {
        @include button;
    }

    &__accept-btn {
        @include button;
    }
}
